litellm[proxy]==1.81.13 # Specify the litellm version you want to use
prometheus_client
langfuse
prisma
openai==2.8.0
ddtrace[profiling]==2.19.0 # ddtrace-run --profiling (USE_DDPROFILER=true)
memray
